{% extends 'feedback/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
        <div class="multi-form">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Rate your satisfaction level with the following aspects of the university:</h2>
            <form method="post"id ="step-form" class="m-5">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <h4>Thanks for Your Feedback</h4>
            </form>
        </div>
{% endblock %}
