{% extends 'base.html' %}
<style>
  .muk {
  }
</style>
{% load static %} {% block Content %}
<link rel="stylesheet" href="{% static 'main.css' %}" />
<div
  class="col-sm-6 col-md-8 muk"
  id="header-text"
  style="
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://imgs.search.brave.com/zD6CjypGmT4yYc756PV7iy2e-PbLhUBISdgUMup5wtM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9uZXdz/Lm1hay5hYy51Zy93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMC8w/OS9NYWstQWRtaXNz/aW9uLUJlZC1FeHRl/cm5hbC0yMDIwLUFj/YWRlbWljLVllYXIu/anBn');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <h1 class="ml-5" id="header-h1">Makerere University</h1>
  <p class="m-5" id="header-paragraph">
    A trusted destination for traders worldwide, <br />
    Authorised by FCA, ASIC & FSCA
  </p>
</div>
{% endblock Content %}
