#bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("static/images/download.png");
}
#main-navbar{
  color: white;
  min-height: 14vh;
  font-size: 20px;
}
#authstyle{
  margin-left: 80%;
  border-radius: 50%;
}
#header-text{
  color: white;
  font-family: 'Noto sans', sans-serif;
  font-size: 100px;
  margin-top: 100px;
}
#header-image{
  margin-top: 30px;
  margin-top: 30px;
}
#header-paragraph{
  font-size: 20px;
  padding-top: 30px;
  font-weight: lighter;
  color:#111;
}
#header-h1{
  font-size: 60px;
}
#header-links{
  position: flex;
  margin-right:15px;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  overflow: hidden;
  transition: 0.2s;
}
#header-links:hover{
  color: #021f3b;
  font-size: 15px;
  border-radius: 6px;
  background-color: #f95d32;
  box-shadow: 0 0 10px #0cd380, 0 0 4px #0ad228,0 0 80px #ff8248;
  transition-delay: 0.1s;
  text-decoration: none;
  border-radius: 9px;
}
#header-links:active{
  font-size: 10px;
}

#body-link-row{
  position: relative;
  border-radius: 20px;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  overflow: hidden;
  transition: 0.2s;
}
#body-link-row:hover{
  color: #021f3b;
  font-size: 15px;
  border-radius: 6px;
  background-color: #ffcab1;
  box-shadow: 0 0 10px #0cd380, 0 0 4px #0cd380,0 0 80px #0cd380;
  transition-delay: 0.1s;
  text-decoration: none;
  border-radius: 9px;
}
#main-footer{
  margin-top: 510px;
  color: white;
  min-height: 10vh;
  font-size: 15px;
}
#footer{
  margin-left: 1000px;
  background-color: rgba(102, 102, 102, 0.137);
}


body{
margin:0;
color:#b7b8c3;
background-image: url('images/bg.png');
font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
width:100%;
margin:auto;
max-width:525px;
min-height:670px;
position:relative;

box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
width:100%;
height:100%;
position:absolute;
padding:90px 70px 50px 70px;
background:rgba(255, 255, 255, 0);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
top:0;
left:0;
right:0;
bottom:0;
position:absolute;
transform:rotateY(180deg);
backface-visibility:hidden;
transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
text-transform:uppercase;
}
.login-html .tab{
font-size:22px;
margin-right:15px;
padding-bottom:5px;
margin:0 15px 10px 0;
display:inline-block;
border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
color:#fff;
border-color:#0cd380;
}
.login-form{
min-height:345px;
position:relative;
perspective:1000px;
transform-style:preserve-3d;
}
.login-form .group{
margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
width:100%;
color:#fff;
display:block;
}
.login-form .group .input,
.login-form .group .button{
border:none;
padding:15px 20px;
border-radius:25px;
background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
text-security:circle;
-webkit-text-security:circle;
}
.login-form .group .label{
color:#aaa;
font-size:12px;
}
.login-form .group .button{
background:#0cd380;
}
.login-form .group label .icon{
width:15px;
height:15px;
border-radius:2px;
position:relative;
display:inline-block;
background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
content:'';
width:10px;
height:2px;
background:#fff;
position:absolute;
transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
left:3px;
width:5px;
bottom:6px;
transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
top:6px;
right:0;
transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
color:#fff;
}
.login-form .group .check:checked + label .icon{
background:#0cd380;
}
.login-form .group .check:checked + label .icon:before{
transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
transform:rotate(0);
}

.hr{
height:2px;
margin:60px 0 50px 0;
background:rgba(255, 227, 208, 0.2);
}
.foot-lnk{
text-align:center;
}










@function remy($value) {
@return ($value / 16px) * 1rem;
}

body {
font: 100% / 1.414 "Roboto", arial, sans-serif;
background: #ffffff;
}
a,

[type="submit"] {
  transition: border .25s ease-in-out;
}
[type="submit"] {
  transition: background-color .25s ease-in-out;
}

[type="submit"]:hover {
  background-color: #086623; /* Changes the background color on hover */
}

[type="submit"]:hover {
  border: 2px solid rgb(7, 215, 52); /* Adds a border on hover */
}

.signup__container {
position: absolute;
top: 50%;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
transform: translateY(-50%);
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
width: remy(800px);
height: remy(480px);
border-radius: remy(3px);
box-shadow: 0px remy(3px) remy(7px) rgba(0, 0, 0, 0.25);
}
.signup__overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.76);
}
.container__child {
width: 50%;
height: 100%;
color: #fff;
}
.signup__thumbnail {
position: relative;
padding: 2rem;
display: flex;
flex-wrap: wrap;
align-items: center;
background: url(http://ultraimg.com/images/spectre-login.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
position: relative;
z-index: 2;
}
.thumbnail__logo {align-self: flex-start;}
.logo__shape {fill: #fff;}
.logo__text {
display: inline-block;
font-size: .8rem;
font-weight: 700;
vertical-align: bottom;
}
.thumbnail__content {align-self: center;}
h1,
h2 {
font-weight: 300;
color:green;
}
.heading--primary {font-size: 1.999rem;}
.heading--secondary {font-size: 1.414rem;}
.thumbnail__links {
align-self: flex-end;
width: 100%;
}
.thumbnail__links a {
font-size: 1rem;
color: #fff;
&:focus,
&:hover {color: rgba(255,255,255,.5);}
}
.signup__form {
padding: 2.5rem;
background: #ffffff;
}
label {
font-size: .85rem;
text-transform: uppercase;
color: #055d03;
}
.form-control {
background-color: transparent;
border-top: 0;
border-right: 0;
border-left: 0;
border-radius: 0;
&:focus {border-color: #111;}
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}
.btn--form {
padding: .5rem 2.5rem;
font-size: .95rem;
font-weight: 600;
text-transform: uppercase;
color: #fff;
background: #111;
border-radius: remy(35px);
&:focus,
&:hover {background: lighten(#111, 13%);}
}
.signup__link {
font-size: .8rem;
font-weight: 600;
text-decoration: underline;
color: #999;
&:focus,
&:hover {color: darken(#999, 13%);}
}
#signup-button{
  position: relative;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  background-color: #05992f;
  overflow: hidden;
  transition: 0.2s;
}

#signup-button:hover{
  color: #021f3b;
  font-size: 15px;
  border-radius: 6px;
  background-color: rgb(7, 215, 52);
  box-shadow: 0 0 10px #0cd380, 0 0 4px #0cd380,0 0 80px #0cd380;
  transition-delay: 0.1s;
  text-decoration: none;
  border-radius: 9px;
}

.sem_year{

  font-size: 20px;
  padding-top: 30px;
  font-weight: lighter;
  color:#111;

  .sem_year_options{
    appearance: none;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  transition: background-color 0.3s ease-in-out;
  }

  .sem_year_options:hover, .custom-select:focus {
    background-color: #e0e0e0;
    outline: none;
  }

  .sem_year_options option {
    transition: background-color 0.3s ease-in-out;
  }

  .custom-select option:hover {
    background-color: #f2f2f2;
  }
}

.course-units{
  .description-box {
    border: 1px solid #e1f2e3;
    border-radius: 5px;
    padding: 20px;
    background-color: #f3fbf45e;
    box-shadow: 0 2px 4px rgba(18, 17, 17, 0.216);
    width: auto;
  }

  .box-description {
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
  }

}
/*cards */
.row{
  /* Card styling */
  .card {
    border: 1px solid #77ee8d;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;
    overflow: hidden; /* Hide any overflow from the overlay */
  }

  

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 246, 231, 0.5); /* Transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
  }
  
  .card .overlay{
    opacity:1;
  }
  
  /* Card title styling */
  .card-body {
    font-size: 20px;
    
  }

  /* Card text styling */
  .card-body,h4 {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 10;
    font-family: 'Arial', sans-serif;
    color: #021f3b;
  }

  /* Button styling */
  .btn-primary {
    background-color: #ff7300;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }

  .btn-primary:hover {
    background-color: #d1ed44;
  }


}

.multi-form{
  /* Styling for the multi-form container */

  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid  #d1ed44;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(247, 245, 245, 0.1);

}
.step_form{
  color:#f95d32;
}

/* Styling for the submit button */
.btn-primary {
  background-color: #ff7300;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #d1ed44;
}


/* Styling for form labels */
.form-group label {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  color:rgb(14, 14, 17);
  
}


/* Styling for textareas */
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #46ec1d;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
}

.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #138134;
  cursor: pointer;
}

.radio{
  position: relative;
  padding-left: 30px; /* Space for custom radio appearance */
  cursor: pointer;
  transition: all 0.2s;
}

.textarea{
  width: 100%;
    padding: 10px;
    border: 1px solid #045318;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    transition: border-color 0.2s, box-shadow 0.2s;
}
.textarea:hover,
.textarea:focus {
    border-color: #1ded1d; /* Change border color on hover/focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow on hover/focus */
}

/* Style the select box */
.select {
  width: 50%; /* Adjust the width as needed */
  padding: 8px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  border: 2px solid  #1ded1d5e;
  border-radius: 5px;
  transition: border-color 0.2s;
}

/* Style the select when focused or hovered */
.select:focus,
.select:hover {
  border-color:  #1ded1d; /* Change border color on focus or hover */
}

/* Style the arrow icon */
.select::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  right: 10px; /* Adjust the position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-cards {
  display: flex;
  justify-content:space-evenly; /* Adjust the alignment as needed */
  max-width: 500px; /* Adjust the width as needed */
  margin: 0 ; /* Center the cards horizontally */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #2dd643;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.2s,background-color 0.2s, color 0.2s;
  
}

.card:hover {
  border-color: #f89f05; /* Change border color on hover */
}



.card-content {
  font-size: 16px;
  margin-top: 10px;
}

.radio:checked + .card {
  border-color: #f89f05; /* Change border color when radio is checked */
}
