<!DOCTYPE html>
{% load static %}
<html lang="en">
    <title>Student Feedback form </title>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

 
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <!--icons-->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  </head>
  <body id="bg" style="background-image: url('static/images/background.jpg')" >
  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{%static 'images/android-chrome-192x192.png' %}" alt="" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#"></a>
              <a class="nav-link" href="/administrator/course"></a>


            </div>
            <form class="d-flex" id="authstyle">
              
              {% if user.is_authenticated %}
                <a href="/administrator/course" class="btn" style="color:rgb(2, 31, 3) rgb; background-color: #eef4ee;"type="submit" id="header-links"> Admin </a>
                <a href="{% url 'logout' %}" class="btn" style="color: rgb(2, 31, 3); background-color: #eef4ee;"type="submit" id="header-links"> Logout </a>
              {% else %}
                <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #14fd27;"type="submit" id="header-links"> Create Account </a>
                <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #14fd27; margin-left: 10px; "type="submit" id="header-links">Log In</a>
              {% endif %}
              </form>
          </div>
        </div>
    </nav>

      <div>
        <div class="container">
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
      </div>

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
      -->
  </body>
</html>